#include <os2.h>
#include "pmeq1.h"
#include "pmmnwin.h"
#include "pmhelp.h"
#include "pmini.h"

#define IDB_START 25000

ICON ID_ClientWindow pmeq1.ico

MENU ID_ClientWindow 
{
 SUBMENU "~Equator", IDM_Equator, MIS_TEXT
 {
  MENUITEM "~New \tCtrl+n", IDM_Neu, MIS_TEXT
  MENUITEM "~Solution\tCtrl+s", IDM_Sol, MIS_TEXT
  MENUITEM "H~ighscores", IDM_HISCORE, MIS_TEXT
  MENUITEM SEPARATOR
  MENUITEM "~Level \tCtrl+l", IDM_Level, MIS_TEXT
  MENUITEM "~Hardmode \tCtrl+h", IDM_Hard, MIS_TEXT, MIA_CHECKED
  MENUITEM SEPARATOR
  MENUITEM "~Alpha \tCtrl+a", IDM_Alpha, MIS_TEXT, MIA_CHECKED
  MENUITEM "Hedgeh~og", IDM_IGEL3, MIS_TEXT, MIA_CHECKED
  MENUITEM SEPARATOR
  MENUITEM "E~xit \tF3", IDM_Exit, MIS_TEXT
 }
 SUBMENU "~Help", IDM_HELP, MIS_TEXT
 {
        MENUITEM    "Help ~index",       IDM_HELPINDEX,      MIS_TEXT
        MENUITEM    "~General help",     IDM_HELPGENERAL,    MIS_TEXT
        MENUITEM    "~Using help",       IDM_HELPUSINGHELP,  MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "~About",  IDM_About, MIS_TEXT
 }
}

ACCELTABLE ID_ClientWindow
   BEGIN
  VK_F3,  IDM_Exit,      VIRTUALKEY
   "l", IDM_Level, CHAR, CONTROL
   "n", IDM_Neu, CHAR, CONTROL
   "x", IDM_Exit, CHAR, CONTROL
   "s", IDM_Sol, CHAR, CONTROL
   "h", IDM_Hard, CHAR, CONTROL
   "a", IDM_Alpha, CHAR, CONTROL
   "i", IDM_HISCORE, CHAR, CONTROL
   END

STRINGTABLE
{
    IDS_APPNAME                 "FSN's PM-Equator"
    IDS_HELPWINDOWTITLE         "Equator - Help"
    IDS_HELPLIBRARYNAME         "pmeq1.hlp"
}

MESSAGETABLE
{
        IDMSG_LEIDERFALSCH      "This wasn't correct!"
        IDMSG_MINDIFF           "It has to be: Upper Level > Lower Level !"
        IDMSG_CANT_INIT         "Can't initialisze application!"
        IDMSG_CANT_FRAME        "Can't set first frame!"
        IDMSG_CANT_REGISTER     "Can't register window class!"
        IDMSG_CANT_QUEUE        "Can't initialize queue."
        IDMSG_HELPLOADERROR     "Failed to load help manager."
        IDMSG_CANNOTLOADSTRING  "Failed to load string."
        IDMSG_HELPDISPLAYERROR  "Failed to display help panel."
	IDMSG_ALLREADY_RUNNING  "Sorry, but you're allready playing that game in another window!"
}

BITMAP IDB_HBMNR0		NR0.BMP
BITMAP IDB_HBMNR1		NR1.BMP
BITMAP IDB_HBMNR2		NR2.BMP
BITMAP IDB_HBMNR3		NR3.BMP
BITMAP IDB_HBMNR4		NR4.BMP
BITMAP IDB_HBMNR5		NR5.BMP
BITMAP IDB_HBMNR6		NR6.BMP
BITMAP IDB_HBMNR7		NR7.BMP
BITMAP IDB_HBMNR8		NR8.BMP
BITMAP IDB_HBMNR9		NR9.BMP

BITMAP IDB_HBMAL0		AL0.BMP
BITMAP IDB_HBMAL1		AL1.BMP
BITMAP IDB_HBMAL2		AL2.BMP
BITMAP IDB_HBMAL3		AL3.BMP
BITMAP IDB_HBMAL4		AL4.BMP
BITMAP IDB_HBMAL5		AL5.BMP
BITMAP IDB_HBMAL6		AL6.BMP
BITMAP IDB_HBMAL7		AL7.BMP
BITMAP IDB_HBMAL8		AL8.BMP
BITMAP IDB_HBMAL9		AL9.BMP

BITMAP IDB_HBMALA0		ALA0.BMP
BITMAP IDB_HBMALA1		ALA1.BMP
BITMAP IDB_HBMALA2		ALA2.BMP
BITMAP IDB_HBMALA3		ALA3.BMP
BITMAP IDB_HBMALA4		ALA4.BMP
BITMAP IDB_HBMALA5		ALA5.BMP
BITMAP IDB_HBMALA6		ALA6.BMP
BITMAP IDB_HBMALA7		ALA7.BMP
BITMAP IDB_HBMALA8		ALA8.BMP
BITMAP IDB_HBMALA9		ALA9.BMP

BITMAP IDB_HBMPLUS		PLUS.BMP
BITMAP IDB_HBMMINUS		MINUS.BMP
BITMAP IDB_HBMMAL		MAL.BMP
BITMAP IDB_HBMDURCH		DURCH.BMP
BITMAP IDB_HBMGLEICH		GLEICH.BMP

POINTER IDP_0	DRAG0.PTR
POINTER IDP_1	DRAG1.PTR
POINTER IDP_2	DRAG2.PTR
POINTER IDP_3	DRAG3.PTR
POINTER IDP_4	DRAG4.PTR
POINTER IDP_5	DRAG5.PTR
POINTER IDP_6	DRAG6.PTR
POINTER IDP_7	DRAG7.PTR
POINTER IDP_8	DRAG8.PTR
POINTER IDP_9	DRAG9.PTR

POINTER IDP2_0	DRAGA0.PTR
POINTER IDP2_1	DRAGA1.PTR
POINTER IDP2_2	DRAGA2.PTR
POINTER IDP2_3	DRAGA3.PTR
POINTER IDP2_4	DRAGA4.PTR
POINTER IDP2_5	DRAGA5.PTR
POINTER IDP2_6	DRAGA6.PTR
POINTER IDP2_7	DRAGA7.PTR
POINTER IDP2_8	DRAGA8.PTR
POINTER IDP2_9	DRAGA9.PTR

POINTER IDP_IGEL3 IGEL3.PTR

/* BITMAP IDB_START PRELOAD DISCARDABLE start.bmp */

DLGTEMPLATE ID_LEVEL LOADONCALL DISCARDABLE MOVEABLE
BEGIN
	DIALOG "Adjust Level", ID_LEVEL, 46, 41, 120, 63, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		RTEXT "Upper Level", -1, 8, 47, 52, 9
		RTEXT "Lower Level", -1, 8, 27, 52, 9
		DEFPUSHBUTTON "OK", DID_OK, 9, 5, 51, 14
		PUSHBUTTON "Abbruch", DID_CANCEL, 63, 5, 51, 14
		CONTROL "", DID_LEVEL2,  64, 28, 47, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", DID_LEVEL, 64, 48, 47, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE ID_DIGIT LOADONCALL DISCARDABLE MOVEABLE
BEGIN
	DIALOG "Guess Digit", ID_DIGIT, 46, 41, 90, 50, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		ICON ID_ClientWindow, -1, 3, 4, 32,32
		DEFPUSHBUTTON "OK", DID_OK, 44, 6, 41, 14
		GROUPBOX "What?",-1, 9,23, 71,25
		CONTROL "", DID_DIGIT, 44, 26, 32, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL IDB_HBMAL0, ID_DIGICON, 13, 26, 32,32, WC_STATIC, SS_BITMAP | WS_VISIBLE
	END
END

DLGTEMPLATE ID_GETNAME LOADONCALL DISCARDABLE MOVEABLE
BEGIN
	DIALOG "Enter your Name", ID_GETNAME, 46, 41, 180, 70, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		ICON ID_ClientWindow, -1, 5, 45, 32,32
		DEFPUSHBUTTON "OK", DID_OK, 3, 6, 32, 32
		COMBOBOX "", DID_GETNAME, 38, 4, 133, 58, CBS_SIMPLE | WS_VISIBLE
        END
END

DLGTEMPLATE ID_HELLO PRELOAD DISCARDABLE
BEGIN
	DIALOG "Welcome to Equator!", ID_HELLO, 86, 81, 180, 88, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		CTEXT "If you like this program",-1, 42, 77,100,8
		CTEXT "would you please"         -1, 42, 66,100,8
		CTEXT "register?"                -1, 42, 55,100,8
		CTEXT " (c) 1995 by FSN "        -1, 42, 43,100,8
		ICON ID_ClientWindow, -1, 9, 65, 32,32
		CONTROL IDB_HBMAL0, ID_DIGICON2, 154, 69, 32,32, WC_STATIC, SS_BITMAP | WS_VISIBLE
		CTEXT "nestel@am.uni-erlangen.de"-1, 32, 32,120,8
		RTEXT "Frank Sven Nestel"        -1, 42, 18,133,8
		PUSHBUTTON "Continue", DID_OK, 54, 3, 70, 13
	END
END


/*
 *  Help table definition
 */

HELPTABLE   TEMPLATE_HELP_TABLE
{
    HELPITEM    ID_ClientWindow,       SUBTABLE_MAIN,         PANEL_MAIN
    HELPITEM    ID_HELLO , SUBTABLE_PRODUCTINFODLG, PANEL_PRODUCTINFODLG 
}


/*
 *  Main help window subtable, includes menu item help
 */
HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE     2
{

    HELPSUBITEM     IDM_Exit,                   PANEL_Exit
    HELPSUBITEM     IDM_HELP,                   PANEL_HELP
    HELPSUBITEM     IDM_HELPINDEX,              PANEL_HELPINDEX
    HELPSUBITEM     IDM_HELPGENERAL,            PANEL_HELPGENERAL
    HELPSUBITEM     IDM_HELPUSINGHELP,          PANEL_HELPUSINGHELP
    HELPSUBITEM     IDM_About,                  PANEL_HELPPRODUCTINFO
    HELPSUBITEM    IDM_Equator, PANEL_MAIN
    HELPSUBITEM    IDM_Neu, 	PANEL_New
    HELPSUBITEM    IDM_Sol,	PANEL_Solution
    HELPSUBITEM    IDM_HISCORE,	PANEL_Highscores
    HELPSUBITEM    IDM_Level,	PANEL_Stufe
    HELPSUBITEM    IDM_Hard,	PANEL_Hard
    HELPSUBITEM    IDM_Alpha,	PANEL_Alpha
    HELPSUBITEM    IDM_IGEL3, 	PANEL_IGEL3
}

HELPSUBTABLE SUBTABLE_PRODUCTINFODLG
SUBITEMSIZE     2
{
    HELPSUBITEM     DID_OK,             PANEL_PRODUCTINFO_OK
} 
