#include <os2.h>
#include "EQUATOR.H"
#include "pmmnwin.h"
#include "pmeqhelp.h"
#include "pmini.h"

ICON ID_ClientWindow EQUATOR.ICO

MENU ID_ClientWindow
BEGIN
    SUBMENU "~Game", IDM_SUBMENU_GAME
    BEGIN
        MENUITEM "~New Puzzle\tCtrl+N", IDM_NEW
        MENUITEM "~Solution\tCtrl+S", IDM_SOLUTION
        MENUITEM "H~ighscores\tCtrl+I", IDM_HISCORE
        MENUITEM SEPARATOR
        MENUITEM "~Level\tCtrl+L", IDM_LEVEL
        MENUITEM "~Hardmode\tCtrl+H", IDM_HARD, MIA_CHECKED
        MENUITEM SEPARATOR
        MENUITEM "~Alpha\tCtrl+A", IDM_ALPHA, MIA_CHECKED
        MENUITEM "Hedgeh~og", IDM_HEDGEHOG, MIA_CHECKED
        MENUITEM SEPARATOR
        MENUITEM "E~xit\tCtrl+X", IDM_EXIT
    END

    SUBMENU "~Options", IDM_SUBMENU_OPTIONS
    BEGIN
        SUBMENU "~Language", IDM_SUBMENU_LANGUAGE
        BEGIN
            MENUITEM "English", IDM_LANG_EN, MIA_CHECKED
            MENUITEM "Espanol", IDM_LANG_ES
            MENUITEM "Nederlands", IDM_LANG_NL
            MENUITEM "Deutsch", IDM_LANG_DE
            MENUITEM "Francais", IDM_LANG_FR
            MENUITEM "Italiano", IDM_LANG_IT
        END

        MENUITEM SEPARATOR

        MENUITEM "~Save settings on exit", IDM_SAVEONEXIT, MIA_CHECKED
    END

    SUBMENU "~Help", IDM_SUBMENU_HELP
    BEGIN
        MENUITEM "Help ~index", IDM_HELPINDEX
        MENUITEM "~General help", IDM_HELPGENERAL
        MENUITEM "~Using help", IDM_HELPUSINGHELP
        MENUITEM "~Keys help", IDM_HELPKEYS
        MENUITEM SEPARATOR
        MENUITEM "~About Equator...", IDM_ABOUT
    END
END

ACCELTABLE ID_ClientWindow
BEGIN
    "n", IDM_NEW, CONTROL
    "s", IDM_SOLUTION, CONTROL
    "i", IDM_HISCORE, CONTROL
    "l", IDM_LEVEL, CONTROL
    "h", IDM_HARD, CONTROL
    "a", IDM_ALPHA, CONTROL
    "x", IDM_EXIT, CONTROL
    VK_F3, IDM_EXIT, VIRTUALKEY
END

STRINGTABLE
BEGIN
    IDS_APPNAME         "Equator"
    IDS_HELPWINDOWTITLE "Equator - Hilfe"
    IDS_HELPLIBRARYNAME "EQUATOR_DE.HLP"
END

MESSAGETABLE
BEGIN
    IDMSG_LEIDERFALSCH  "This wasn't correct!"
    IDMSG_MINDIFF       "It has to be: Upper Level > Lower Level !"
    IDMSG_CANT_INIT     "Can't initialize application!"
    IDMSG_CANT_FRAME    "Can't set first frame!"
    IDMSG_CANT_REGISTER "Can't register window class!"
    IDMSG_CANT_QUEUE    "Can't initialize queue."
    IDMSG_HELPLOADERROR "Failed to load help manager."
    IDMSG_CANNOTLOADSTRING "Failed to load string."
    IDMSG_HELPDISPLAYERROR "Failed to display help panel."
    IDMSG_ALLREADY_RUNNING "Sorry, but you're already playing that game in another window!"
END

BITMAP IDB_HBMNR0		NR0.BMP
BITMAP IDB_HBMNR1		NR1.BMP
BITMAP IDB_HBMNR2		NR2.BMP
BITMAP IDB_HBMNR3		NR3.BMP
BITMAP IDB_HBMNR4		NR4.BMP
BITMAP IDB_HBMNR5		NR5.BMP
BITMAP IDB_HBMNR6		NR6.BMP
BITMAP IDB_HBMNR7		NR7.BMP
BITMAP IDB_HBMNR8		NR8.BMP
BITMAP IDB_HBMNR9		NR9.BMP

BITMAP IDB_HBMAL0		AL0.BMP
BITMAP IDB_HBMAL1		AL1.BMP
BITMAP IDB_HBMAL2		AL2.BMP
BITMAP IDB_HBMAL3		AL3.BMP
BITMAP IDB_HBMAL4		AL4.BMP
BITMAP IDB_HBMAL5		AL5.BMP
BITMAP IDB_HBMAL6		AL6.BMP
BITMAP IDB_HBMAL7		AL7.BMP
BITMAP IDB_HBMAL8		AL8.BMP
BITMAP IDB_HBMAL9		AL9.BMP

BITMAP IDB_HBMALA0		ALA0.BMP
BITMAP IDB_HBMALA1		ALA1.BMP
BITMAP IDB_HBMALA2		ALA2.BMP
BITMAP IDB_HBMALA3		ALA3.BMP
BITMAP IDB_HBMALA4		ALA4.BMP
BITMAP IDB_HBMALA5		ALA5.BMP
BITMAP IDB_HBMALA6		ALA6.BMP
BITMAP IDB_HBMALA7		ALA7.BMP
BITMAP IDB_HBMALA8		ALA8.BMP
BITMAP IDB_HBMALA9		ALA9.BMP

BITMAP IDB_HBMPLUS		PLUS.BMP
BITMAP IDB_HBMMINUS		MINUS.BMP
BITMAP IDB_HBMMAL		MAL.BMP
BITMAP IDB_HBMDURCH		DURCH.BMP
BITMAP IDB_HBMGLEICH		GLEICH.BMP

POINTER IDP_0	DRAG0.PTR
POINTER IDP_1	DRAG1.PTR
POINTER IDP_2	DRAG2.PTR
POINTER IDP_3	DRAG3.PTR
POINTER IDP_4	DRAG4.PTR
POINTER IDP_5	DRAG5.PTR
POINTER IDP_6	DRAG6.PTR
POINTER IDP_7	DRAG7.PTR
POINTER IDP_8	DRAG8.PTR
POINTER IDP_9	DRAG9.PTR

POINTER IDP2_0	DRAGA0.PTR
POINTER IDP2_1	DRAGA1.PTR
POINTER IDP2_2	DRAGA2.PTR
POINTER IDP2_3	DRAGA3.PTR
POINTER IDP2_4	DRAGA4.PTR
POINTER IDP2_5	DRAGA5.PTR
POINTER IDP2_6	DRAGA6.PTR
POINTER IDP2_7	DRAGA7.PTR
POINTER IDP2_8	DRAGA8.PTR
POINTER IDP2_9	DRAGA9.PTR

POINTER IDP_IGEL3 IGEL3.PTR

DLGTEMPLATE ID_LEVEL LOADONCALL DISCARDABLE MOVEABLE
BEGIN
    DIALOG "Adjust Level", ID_LEVEL, 46, 41, 120, 63, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        RTEXT "Upper Level", -1, 8, 47, 52, 9
        RTEXT "Lower Level", -1, 8, 27, 52, 9
        DEFPUSHBUTTON "OK", DID_OK, 9, 5, 51, 14
        PUSHBUTTON "~Cancel", DID_CANCEL, 63, 5, 51, 14
        CONTROL "", DID_LEVEL2, 64, 28, 47, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "", DID_LEVEL, 64, 48, 47, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    END
END

DLGTEMPLATE ID_DIGIT LOADONCALL DISCARDABLE MOVEABLE
BEGIN
    DIALOG "Guess Digit", ID_DIGIT, 46, 41, 90, 50, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        ICON ID_ClientWindow, -1, 3, 4, 32, 32
        DEFPUSHBUTTON "OK", DID_OK, 44, 6, 41, 14
        GROUPBOX "Which digit?", -1, 9, 23, 71, 25
        CONTROL "", DID_DIGIT, 44, 26, 32, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL IDB_HBMAL0, ID_DIGICON, 13, 26, 32, 32, WC_STATIC, SS_BITMAP | WS_VISIBLE
    END
END

DLGTEMPLATE ID_GETNAME LOADONCALL DISCARDABLE MOVEABLE
BEGIN
    DIALOG "Enter your Name", ID_GETNAME, 46, 41, 180, 70, WS_VISIBLE, FCF_TITLEBAR
    BEGIN
        ICON ID_ClientWindow, -1, 5, 45, 32, 32
        DEFPUSHBUTTON "OK", DID_OK, 3, 6, 32, 32
        COMBOBOX "", DID_GETNAME, 38, 4, 133, 58, CBS_SIMPLE | WS_VISIBLE
    END
END

DLGTEMPLATE ID_HELLO PRELOAD DISCARDABLE
BEGIN
    DIALOG "About Equator", ID_HELLO, 86, 81, 220, 112, WS_VISIBLE, FCF_TITLEBAR
    BEGIN
        ICON ID_ClientWindow, -1, 10, 76, 32, 32
        CTEXT "Equator", -1, 55, 94, 150, 16, DT_VCENTER
        CTEXT "Version 1.0", -1, 55, 78, 150, 10, DT_VCENTER
        CTEXT "(c) 1995-2001 Frank Sven Nestel", -1, 55, 60, 150, 10, DT_VCENTER
        CTEXT "(c) 2026, OS2World port", -1, 55, 45, 150, 10, DT_VCENTER
        CTEXT "GNU GPL V2", -1, 55, 30, 150, 10, DT_VCENTER
        DEFPUSHBUTTON "~Close", DID_OK, 86, 6, 48, 16
    END
END

/*
 *  Help table definition
 */

HELPTABLE   TEMPLATE_HELP_TABLE
{
    HELPITEM    ID_ClientWindow,       SUBTABLE_MAIN,         PANEL_MAIN
    HELPITEM    ID_HELLO,              SUBTABLE_PRODUCTINFODLG, PANEL_PRODUCTINFODLG
}

/*
 *  Main help window subtable, includes menu item help
 */
HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE     2
{
    HELPSUBITEM     IDM_SUBMENU_GAME,      PANEL_MAIN
    HELPSUBITEM     IDM_SUBMENU_OPTIONS,   PANEL_OPTIONS
    HELPSUBITEM     IDM_SUBMENU_LANGUAGE,  PANEL_LANGUAGE
    HELPSUBITEM     IDM_SUBMENU_HELP,      PANEL_HELP
    HELPSUBITEM     IDM_NEW,               PANEL_New
    HELPSUBITEM     IDM_SOLUTION,          PANEL_Solution
    HELPSUBITEM     IDM_HISCORE,           PANEL_Highscores
    HELPSUBITEM     IDM_LEVEL,             PANEL_Stufe
    HELPSUBITEM     IDM_HARD,              PANEL_Hard
    HELPSUBITEM     IDM_ALPHA,             PANEL_Alpha
    HELPSUBITEM     IDM_HEDGEHOG,          PANEL_HEDGEHOG
    HELPSUBITEM     IDM_EXIT,              PANEL_Exit
    HELPSUBITEM     IDM_SAVEONEXIT,        PANEL_SAVEONEXIT
    HELPSUBITEM     IDM_LANG_EN,           PANEL_LANGUAGE
    HELPSUBITEM     IDM_LANG_ES,           PANEL_LANGUAGE
    HELPSUBITEM     IDM_LANG_NL,           PANEL_LANGUAGE
    HELPSUBITEM     IDM_LANG_DE,           PANEL_LANGUAGE
    HELPSUBITEM     IDM_LANG_FR,           PANEL_LANGUAGE
    HELPSUBITEM     IDM_LANG_IT,           PANEL_LANGUAGE
    HELPSUBITEM     IDM_HELPINDEX,         PANEL_HELPINDEX
    HELPSUBITEM     IDM_HELPGENERAL,       PANEL_HELPGENERAL
    HELPSUBITEM     IDM_HELPUSINGHELP,     PANEL_HELPUSINGHELP
    HELPSUBITEM     IDM_HELPKEYS,          PANEL_HELPKEYS
    HELPSUBITEM     IDM_ABOUT,             PANEL_ABOUT
}

HELPSUBTABLE SUBTABLE_PRODUCTINFODLG
SUBITEMSIZE     2
{
    HELPSUBITEM     DID_OK,             PANEL_PRODUCTINFO_OK
}